{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 50,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": {{ transmission.transmission_blocklist_enabled | to_nice_json }},
    "blocklist-url": {{ transmission.transmission_blocklist_url | to_nice_json }},
    "cache-size-mb": 4,
    "dht-enabled": true,
    "download-dir": {{ transmission.transmission_download_dir | to_nice_json }},
    "download-limit": 100,
    "download-limit-enabled": 0,
    "download-queue-enabled": false,
    "download-queue-size": 5,
    "encryption": 2,
    "idle-seeding-limit": 30,
    "idle-seeding-limit-enabled": false,
    "incomplete-dir": {{ transmission.transmission_incomplete_dir | to_nice_json }},
    "incomplete-dir-enabled": {{ transmission.transmission_incomplete_dir_enabled | to_nice_json }},
    "lpd-enabled": false,
    "max-peers-global": 200,
    "message-level": 1,
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": 200,
    "peer-limit-per-torrent": 50,
    "peer-port": {{ transmission.transmission_peer_port | to_nice_json }},
    "peer-port-random-high": 65535,
    "peer-port-random-low": 49152,
    "peer-port-random-on-start": false,
    "peer-socket-tos": "default",
    "pex-enabled": true,
    "port-forwarding-enabled": {{ transmission.transmission_port_forwarding_enabled | to_nice_json }},
    "preallocation": 1,
    "prefetch-enabled": 1,
    "queue-stalled-enabled": true,
    "queue-stalled-minutes": 30,
    "ratio-limit": {{ transmission.transmission_ratio_limit | default(0.0098) }},
    "ratio-limit-enabled": {{ transmission.transmission_ratio_limit_enabled | to_nice_json  }},
    "rename-partial-files": true,
    "rpc-authentication-required": {{ transmission.transmission_rpc_auth_required | to_nice_json  }},
    "rpc-bind-address": "0.0.0.0",
    "rpc-enabled": true,
    "rpc-host-whitelist": "",
    "rpc-host-whitelist-enabled": false,
    "rpc-password": {{ transmission.transmission_password | to_nice_json }},
    "rpc-port": 9091,
    "rpc-url": {{ transmission.transmission_url | to_nice_json }},
    "rpc-username": {{ transmission.transmission_user | to_nice_json }},
    "rpc-whitelist": {{ transmission.transmission_rpc_whitelist | to_nice_json }},
    "rpc-whitelist-enabled": {{ transmission.transmission_rpc_whitelist_enabled  | to_nice_json }},
    "rpc-host-whitelist": {{ transmission.transmission_rpc_host_whitelist | to_nice_json }},
    "rpc-host-whitelist-enabled": {{ transmission.transmission_rpc_host_whitelist_enabled | to_nice_json  }},
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": false,
    "script-torrent-done-filename": "",
    "seed-queue-enabled": false,
    "seed-queue-size": 10,
    "speed-limit-down": {{ transmission.transmission_speed_limit_down | to_nice_json}},
    "speed-limit-down-enabled": {{ transmission.transmission_speed_limit_down_enabled | to_nice_json  }},
    "speed-limit-up": {{ transmission.transmission_speed_limit_up | to_nice_json }},
    "speed-limit-up-enabled": {{ transmission.transmission_speed_limit_up_enabled | to_nice_json  }},
    "start-added-torrents": true,
    "trash-original-torrent-files": false,
    "umask": {{ transmission.transmission_umask | to_nice_json }},
    "upload-limit": 100,
    "upload-limit-enabled": 0,
    "upload-slots-per-torrent": 14,
    "utp-enabled": true,
    "watch-dir-enabled": {{ transmission.transmission_watch_dir_enabled | to_nice_json }},
    "watch-dir": {{ transmission.transmission_watch_dir | to_nice_json }}
}
